In [1]:
import numpy as np
import pandas as pd

# Series 정의하기
x = pd.Series([4, 3, 5, 8])
print(x)
print(type(x))

# Series의값만확인하기
print(x.values)

# Series의인덱스만확인하기
print(x.index)

# Series의자료형확인하기
print(x.dtype)

0    4
1    3
2    5
3    8
dtype: int64
<class 'pandas.core.series.Series'>
[4 3 5 8]
RangeIndex(start=0, stop=4, step=1)
int64

In [2]:
data = [100,200,300,400]
index_labels = ['a', 'b', 'c', 'd']
series = pd.Series(data,index=index_labels)
print(series)

a    100
b    200
c    300
d    400
dtype: int64

In [5]:
sdata = {'Kim': 35000, 'Beomwoo': 67000, 'Joan': 12000, 'Choi': 4000}
obj3 = pd.Series(sdata)
print(obj3)
obj3.name = 'Salary'
obj3.index.name = "Names"
print(obj3)

obj3.index = ['A', 'B', 'C', 'D']
print(obj3)

Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
dtype: int64
Names
Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
Name: Salary, dtype: int64
A    35000
B    67000
C    12000
D     4000
Name: Salary, dtype: int64

In [6]:
# index 사용
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
print(x)
print(x['서울'])
print(x[['서울','부산']])

서울    7
대구    3
부산    5
광주    8
dtype: int64
7
서울    7
부산    5
dtype: int64

In [7]:
#Series 연산
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
y=pd.Series([2,4,5,1], index=['대구','부산','서울','대전'])
print(x+y)

광주     NaN
대구     5.0
대전     NaN
부산     9.0
서울    12.0
dtype: float64

In [8]:
data = {'names': ['민준', '현우', '서연', '동현', '지현'], 
'years': [2013, 2014, 2015, 2016, 2015], 
'points': [1.5, 1.7, 3.6, 2.4, 2.9]} 
df=pd.DataFrame(data)
df

  names  years  points
0    민준   2013     1.5
1    현우   2014     1.7
2    서연   2015     3.6
3    동현   2016     2.4
4    지현   2015     2.9

In [10]:
data = {
    '이름' : ['상우','흥민','민재'],
    '나이' : [24,25,26],
    '좋아하는 음식' : ['국밥', '칼국수', '제육덮밥']
}
df = pd.DataFrame(data)
df
df.index = ['ID1', 'ID2', 'ID3']
df

     이름  나이 좋아하는 음식
ID1  상우  24      국밥
ID2  흥민  25     칼국수
ID3  민재  26    제육덮밥

In [12]:
data=[['민준','현우','서연','동현','지현'],
      [2013,2014,2015,2016,2015],
      [1.5,1.7,3.6,2.4,2.9]]
data1=zip(data[0],data[1],data[2])
df=pd.DataFrame(data1,columns=['names','years','points'])
df
df.describe()

             years    points
count     5.000000  5.000000
mean   2014.600000  2.420000
std       1.140175  0.864292
min    2013.000000  1.500000
25%    2014.000000  1.700000
50%    2015.000000  2.400000
75%    2015.000000  2.900000
max    2016.000000  3.600000

In [17]:
df = pd.DataFrame({
    '가격':[1000,1500,2000,2500,3000],
    '판매량':[10,15,20,25,30],
})
df['판매량'] = df['판매량'] * 2
df
df['총액'] = df['가격'] * df['판매량']
df
# del df['총액']
# df

# 행으로 접근, loc[]:라벨이름
# 행으로 접근, iloc[]:인덱스 번호로 접근
print("행으로 추출")
print(df[0:3])
print("행으로 추출2")
print(df.loc[1])
print("행, 열로 추출3")
print(df.iloc[0:3,1])
print("필터 추출4")
print(df['가격']>2000)
print("필터 추출5")
print(df.loc[df['가격']>2000,:])
print("필터 추출6")
print(df.loc[df['가격']>2000,['판매량','총액']])
print(df.loc[df['가격']>2000,:])

행으로 추출
     가격  판매량     총액
0  1000   20  20000
1  1500   30  45000
2  2000   40  80000
행으로 추출2
가격      1500
판매량       30
총액     45000
Name: 1, dtype: int64
행, 열로 추출3
0    20
1    30
2    40
Name: 판매량, dtype: int64
필터 추출4
0    False
1    False
2    False
3     True
4     True
Name: 가격, dtype: bool
필터 추출5
     가격  판매량      총액
3  2500   50  125000
4  3000   60  180000
필터 추출6
   판매량      총액
3   50  125000
4   60  180000
     가격  판매량      총액
3  2500   50  125000
4  3000   60  180000

In [18]:
df = pd.DataFrame({
    '이름': ['철수','영희','민수','지수'],
    '점수': [90, None, 85, 88]
})
df
drop_df = df.dropna()
fill_df = df.fillna(value=0)
print(f"drop_df : {drop_df}")
print(f"fill_df : {fill_df}")

drop_df :    이름    점수
0  철수  90.0
2  민수  85.0
3  지수  88.0
fill_df :    이름    점수
0  철수  90.0
1  영희   0.0
2  민수  85.0
3  지수  88.0

In [19]:
df2=pd.DataFrame(np.random.randn(6,4),
columns=["A", "B", "C", "D"],
index=pd.date_range("20160701",periods=6))
df2
df2['A'].corr(df2['B'])

np.float64(-0.6291593195072186)

In [20]:
df = pd.DataFrame({
    '상품명' : ["a","b","c","d"],
    '가격' : [5000,2000,8000,4000]
})
df
# 가격을 기준으로 오름차순, 정렬,
sort_df1= df.sort_values(by='가격', ascending=False)
sort_df2= df.sort_values(by='가격', ascending=True)
print(f"sort_df1 : {sort_df1}")
print(f"sort_df2 : {sort_df2}")

sort_df1 :   상품명    가격
2   c  8000
0   a  5000
3   d  4000
1   b  2000
sort_df2 :   상품명    가격
1   b  2000
3   d  4000
0   a  5000
2   c  8000