In [1]:
import numpy as np
import pandas as pd

# Series 정의하기
x = pd.Series([4, 3, 5, 8])
print(x)
print(type(x))

# Series의값만확인하기
print(x.values)

# Series의인덱스만확인하기
print(x.index)

# Series의자료형확인하기
print(x.dtype)

0    4
1    3
2    5
3    8
dtype: int64
<class 'pandas.core.series.Series'>
[4 3 5 8]
RangeIndex(start=0, stop=4, step=1)
int64

In [2]:
data = [100,200,300,400]
index_labels = ['a', 'b', 'c', 'd']
series = pd.Series(data,index=index_labels)
print(series)

a    100
b    200
c    300
d    400
dtype: int64

In [5]:
sdata = {'Kim': 35000, 'Beomwoo': 67000, 'Joan': 12000, 'Choi': 4000}
obj3 = pd.Series(sdata)
print(obj3)
obj3.name = 'Salary'
obj3.index.name = "Names"
print(obj3)

obj3.index = ['A', 'B', 'C', 'D']
print(obj3)

Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
dtype: int64
Names
Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
Name: Salary, dtype: int64
A    35000
B    67000
C    12000
D     4000
Name: Salary, dtype: int64

In [6]:
# index 사용
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
print(x)
print(x['서울'])
print(x[['서울','부산']])

서울    7
대구    3
부산    5
광주    8
dtype: int64
7
서울    7
부산    5
dtype: int64

In [7]:
#Series 연산
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
y=pd.Series([2,4,5,1], index=['대구','부산','서울','대전'])
print(x+y)

광주     NaN
대구     5.0
대전     NaN
부산     9.0
서울    12.0
dtype: float64

In [8]:
data = {'names': ['민준', '현우', '서연', '동현', '지현'], 
'years': [2013, 2014, 2015, 2016, 2015], 
'points': [1.5, 1.7, 3.6, 2.4, 2.9]} 
df=pd.DataFrame(data)
df

  names  years  points
0    민준   2013     1.5
1    현우   2014     1.7
2    서연   2015     3.6
3    동현   2016     2.4
4    지현   2015     2.9

In [10]:
data = {
    '이름' : ['상우','흥민','민재'],
    '나이' : [24,25,26],
    '좋아하는 음식' : ['국밥', '칼국수', '제육덮밥']
}
df = pd.DataFrame(data)
df
df.index = ['ID1', 'ID2', 'ID3']
df

     이름  나이 좋아하는 음식
ID1  상우  24      국밥
ID2  흥민  25     칼국수
ID3  민재  26    제육덮밥

In [12]:
data=[['민준','현우','서연','동현','지현'],
      [2013,2014,2015,2016,2015],
      [1.5,1.7,3.6,2.4,2.9]]
data1=zip(data[0],data[1],data[2])
df=pd.DataFrame(data1,columns=['names','years','points'])
df
df.describe()

             years    points
count     5.000000  5.000000
mean   2014.600000  2.420000
std       1.140175  0.864292
min    2013.000000  1.500000
25%    2014.000000  1.700000
50%    2015.000000  2.400000
75%    2015.000000  2.900000
max    2016.000000  3.600000

In [17]:
df = pd.DataFrame({
    '가격':[1000,1500,2000,2500,3000],
    '판매량':[10,15,20,25,30],
})
df['판매량'] = df['판매량'] * 2
df
df['총액'] = df['가격'] * df['판매량']
df
# del df['총액']
# df

# 행으로 접근, loc[]:라벨이름
# 행으로 접근, iloc[]:인덱스 번호로 접근
print("행으로 추출")
print(df[0:3])
print("행으로 추출2")
print(df.loc[1])
print("행, 열로 추출3")
print(df.iloc[0:3,1])
print("필터 추출4")
print(df['가격']>2000)
print("필터 추출5")
print(df.loc[df['가격']>2000,:])
print("필터 추출6")
print(df.loc[df['가격']>2000,['판매량','총액']])
print(df.loc[df['가격']>2000,:])

행으로 추출
     가격  판매량     총액
0  1000   20  20000
1  1500   30  45000
2  2000   40  80000
행으로 추출2
가격      1500
판매량       30
총액     45000
Name: 1, dtype: int64
행, 열로 추출3
0    20
1    30
2    40
Name: 판매량, dtype: int64
필터 추출4
0    False
1    False
2    False
3     True
4     True
Name: 가격, dtype: bool
필터 추출5
     가격  판매량      총액
3  2500   50  125000
4  3000   60  180000
필터 추출6
   판매량      총액
3   50  125000
4   60  180000
     가격  판매량      총액
3  2500   50  125000
4  3000   60  180000

In [18]:
df = pd.DataFrame({
    '이름': ['철수','영희','민수','지수'],
    '점수': [90, None, 85, 88]
})
df
drop_df = df.dropna()
fill_df = df.fillna(value=0)
print(f"drop_df : {drop_df}")
print(f"fill_df : {fill_df}")

drop_df :    이름    점수
0  철수  90.0
2  민수  85.0
3  지수  88.0
fill_df :    이름    점수
0  철수  90.0
1  영희   0.0
2  민수  85.0
3  지수  88.0

In [19]:
df2=pd.DataFrame(np.random.randn(6,4),
columns=["A", "B", "C", "D"],
index=pd.date_range("20160701",periods=6))
df2
df2['A'].corr(df2['B'])

np.float64(-0.6291593195072186)

In [20]:
df = pd.DataFrame({
    '상품명' : ["a","b","c","d"],
    '가격' : [5000,2000,8000,4000]
})
df
# 가격을 기준으로 오름차순, 정렬,
sort_df1= df.sort_values(by='가격', ascending=False)
sort_df2= df.sort_values(by='가격', ascending=True)
print(f"sort_df1 : {sort_df1}")
print(f"sort_df2 : {sort_df2}")

sort_df1 :   상품명    가격
2   c  8000
0   a  5000
3   d  4000
1   b  2000
sort_df2 :   상품명    가격
1   b  2000
3   d  4000
0   a  5000
2   c  8000

In [21]:
#df.groupby('열이름').집계함수(),
#집계함수, sum(), mean(), count(), max(), min()
df = pd.DataFrame({
    '카테고리' : ['과일','과일','음료','음료','과일'],
    '상품명' : ['사과','바나나','콜라','주스','포도'],
    '가격' : [3000,2000,1500,2500,4000]
})
df
df_grouped = df.groupby('카테고리')['가격'].sum()
print(df_grouped)
df_grouped_count = df.groupby('카테고리')['가격'].count()
print(df_grouped_count)
df_grouped_mean = df.groupby('카테고리')['가격'].mean()
print(df_grouped_mean)

카테고리
과일    9000
음료    4000
Name: 가격, dtype: int64
카테고리
과일    3
음료    2
Name: 가격, dtype: int64
카테고리
과일    3000.0
음료    2000.0
Name: 가격, dtype: float64

In [22]:
input_file = r"D:\Python_practice\ch7\mini_ratings.csv"
output_file = r"D:\Python_practice\ch7\output1.csv"
# input_file="d:/data/input.csv"
# output_file="d:/data/output1.csv"
#nuwline='' 개행문자를 무시하고 읽음, 이옵션이 없으면 빈라인이 추가됨
with open(input_file,'r', newline='')as reader:
    with open(output_file,'w',newline='')as writer:
        header=reader.readline()  #첫줄을 읽음(헤더)
        header=header.strip()
        #strip() :문자열 좌우 공백,탭,개행문자 제거
        header_list=header.split(',') #","를 기준으로 문자열을 나눠서 리스트르 리턴
        print(header_list)
        # header_list의 각문자 사이에 쉼표를 사입하고 리스트를 문자열로 변환
        # map(str,list) : list 요소를 String 으로 설정
        #''.join(list) : list의 요소를 ","를 삽입하여 연결
        writer.write(','.join(map(str,header_list))+'\n') #파일에 기록
        for row in reader:
            row=row.strip()
            row_list=row.split(',')
            print(row_list)
            writer.write(','.join(map(str,row_list))+'\n')

['userId', 'movieId', 'rating']
['3', '6', '3.7']
['5', '10', '3.1']
['3', '2', '2.7']
['1', '9', '1.7']
['3', '8', '2.4']
['2', '6', '3.2']
['2', '5', '3.5']
['3', '7', '3.1']
['3', '9', '3.4']
['4', '7', '3.1']
['5', '9', '5.0']
['4', '10', '3.6']
['2', '4', '3.9']
['1', '6', '1.0']
['3', '5', '3.3']
['1', '6', '1.8']
['5', '3', '1.7']
['1', '8', '4.7']
['4', '5', '3.4']
['3', '6', '3.2']

In [23]:
input_file = r"D:\Python_practice\ch7\mini_ratings.csv"
output_file = r"D:\Python_practice\ch7\output2.csv"
#csv 파일을 읽어서 데이터프레임양식으로저장
data_frame=pd.read_csv(input_file)
print(data_frame)
# 데이터프레임데이터를csv로저장
data_frame.to_csv(output_file,index=False)

    userId  movieId  rating
0        3        6     3.7
1        5       10     3.1
2        3        2     2.7
3        1        9     1.7
4        3        8     2.4
5        2        6     3.2
6        2        5     3.5
7        3        7     3.1
8        3        9     3.4
9        4        7     3.1
10       5        9     5.0
11       4       10     3.6
12       2        4     3.9
13       1        6     1.0
14       3        5     3.3
15       1        6     1.8
16       5        3     1.7
17       1        8     4.7
18       4        5     3.4
19       3        6     3.2

In [24]:
# 🔹 기본 실습 1: Pandas Series 및 DataFrame 생성
# 문제:
#
# 1)Pandas Series를 생성하고 인덱스를 설정하세요.
# Pandas Series:
# A 10
# B 20
# C 30
# D 40
# E 50
# dtype: int64
#
# 2)DataFrame을 생성하고 행과 열의 인덱스를 설정하세요.
# Pandas DataFrame:
# 이름 나이 성별
# ID1 철수 25 남
# ID2 영희 24 여
# ID3 민수 26 남
# ID4 지연 23 여

# Pandas Series 및 DataFrame 생성
import pandas as pd

# 1) Pandas Series 생성
data = [10, 20, 30, 40, 50]
index_labels = ['A', 'B', 'C', 'D', 'E']
series = pd.Series(data, index=index_labels)
print("Pandas Series:")
print(series)

# 4개의 데이터 유지
data = {'이름': ['철수', '영희', '민수', '지연'],
        '나이': [25, 24, 26, 23],
        '성별': ['남', '여', '남', '여']}

df = pd.DataFrame(data)

# 인덱스 및 컬럼 설정
df.index = ['ID1', 'ID2', 'ID3', 'ID4']
df.columns = ['이름', '나이', '성별']

print(df)

Pandas Series:
A    10
B    20
C    30
D    40
E    50
dtype: int64
     이름  나이 성별
ID1  철수  25  남
ID2  영희  24  여
ID3  민수  26  남
ID4  지연  23  여

In [26]:
# 🔹 기본 실습 2: DataFrame 기본 조작
# 문제:
# 아래의 주어진 표를 DataFrame으로 생성 후,
# 1)describe() 함수를 사용하여 데이터 요약 정보를 확인하세요.
# 2)특정 열을 선택하고 값을 수정하세요.
# 3)새로운 열을 추가하고 값을 설정하세요.
# 예시1)
# 제품명 가격 재고
# 0 노트북 1500000 10
# 1 키보드 50000 50
# 2 마우스 30000 70
# 3 모니터 200000 20
#
# 예시2)
# 수정 후 DataFrame:
# 제품명 가격 재고 할인율 할인가격
# 0 노트북 1500000 10 0.10 1350000.0
# 1 키보드 50000 50 0.05 47500.0
# 2 마우스 35000 70 0.02 34300.0
# 3 모니터 200000 20 0.08 184000.0

import pandas as pd

#DataFrame 형성
data = {
    "제품명" : ['노트북', '키보드', '마우스', '모니터'],
    "가격" : [1500000, 50000, 30000, 200000],
    "재고" : [10,50,70,20]
}
df = pd.DataFrame(data)

#describe() 함수 사용
print("Dataframe 요약 정보:")
print(df.describe())

#특정 열 선택 및 값 수정
df.loc[df["제품명"] == "마우스", "가격"] = 35000

#새로운 열 추가 및 값 수정
df["할인율"] = [0.10,0.05,0.02,0.08]

# 5) 새로운 열 추가 - 할인가격 (할인가 = 가격 * (1 - 할인율))
df["할인가격"] = df["가격"] * (1 - df["할인율"])

# 최종 결과 출력
print("\n📌 수정 후 DataFrame:")
print(df)

Dataframe 요약 정보:
                 가격         재고
count  4.000000e+00   4.000000
mean   4.450000e+05  37.500000
std    7.074131e+05  27.537853
min    3.000000e+04  10.000000
25%    4.500000e+04  17.500000
50%    1.250000e+05  35.000000
75%    5.250000e+05  55.000000
max    1.500000e+06  70.000000

📌 수정 후 DataFrame:
   제품명       가격  재고   할인율       할인가격
0  노트북  1500000  10  0.10  1350000.0
1  키보드    50000  50  0.05    47500.0
2  마우스    35000  70  0.02    34300.0
3  모니터   200000  20  0.08   184000.0

In [27]:
# 🔹 기본 실습 3: DataFrame 행과 열 조작
# 문제:
# 아래의 주어진 표를 DataFrame으로 생성 후,
# 1)특정 열을 삭제하세요.
# 2)특정 행을 선택하는 .loc[] 및 .iloc[]을 사용하세요.
# 3)Boolean Indexing을 사용하여
# 특정 조건을 만족하는 데이터를 출력하세요.
#
# 예시)
# 이름 성적 출석
# 0 철수 85 True
# 1 영희 90 True
# 2 민수 78 False
# 3 지연 92 True

import pandas as pd

#DataFrame 형성
data = {
    "이름" : ['철수', '영희', '민수', '지연'],
    "성적" : [85, 90, 78, 92],
    "출석" : [True,True,False,True]
}
df = pd.DataFrame(data)

#특정 열 삭제
df_no_attendance = df.drop(columns=["출석"])
print("\n📌 '출석' 열 삭제 후 DataFrame:")
print(df_no_attendance)

#특정 행 선택: .loc[] 및 .iloc[]을 사용
print("\n📌 .loc[]을 사용하여 '민수'의 데이터 선택:")
print(df.loc[2])

print("\n📌 .iloc[]을 사용하여 두 번째 행 데이터 선택:")
print(df.loc[1])

# 4) Boolean Indexing (성적이 80점 이상인 학생 필터링)
high_scores = df[df["성적"] >= 80]
print("\n📌 성적이 80점 이상인 학생:")
print(high_scores)

📌 '출석' 열 삭제 후 DataFrame:
   이름  성적
0  철수  85
1  영희  90
2  민수  78
3  지연  92

📌 .loc[]을 사용하여 '민수'의 데이터 선택:
이름       민수
성적       78
출석    False
Name: 2, dtype: object

📌 .iloc[]을 사용하여 두 번째 행 데이터 선택:
이름      영희
성적      90
출석    True
Name: 1, dtype: object

📌 성적이 80점 이상인 학생:
   이름  성적    출석
0  철수  85  True
1  영희  90  True
3  지연  92  True

In [34]:
# 🔹 응용 실습 1: 항공 운항 데이터 분석
# 문제:
# 주어진 표를 이용하여, 항공 운항 데이터 생성
# 1)항공 운항 데이터에서 지연된 항공편만 필터링하고,
# 2)도착 지연 시간의 평균을 계산하세요.
#
# 예시)
# 항공사 출발지 도착지 출발 지연(분) 도착 지연(분)
# 0 대한항공 서울 도쿄 10 5
# 1 아시아나 부산 상하이 0 0
# 2 제주항공 제주 서울 30 45
# 3 티웨이 서울 제주 15 20
# 4 진에어 광주 부산 5 10

import pandas as pd

#DataFrame 형성
# data = {
#     "항공사" : ['대한항공', '아시아나', '제주항공', '티웨이', '진웨어'],
#     "출발지" : ['서울', '부산', '제주', '서울', '광주'],
#     "도착지" : ['도쿄', '상하이', '서울', '제주', '부산'],
#     "출발 지연(분)" : [10,0,30,15,5],
#     "도착 지연(분)" : [5,0,45,20,10]
# }
# df = pd.DataFrame(data)

df_flights = pd.DataFrame ({
    "항공사" : ['대한항공', '아시아나', '제주항공', '티웨이', '진웨어'],
    "출발지" : ['서울', '부산', '제주', '서울', '광주'],
    "도착지" : ['도쿄', '상하이', '서울', '제주', '부산'],
    "출발 지연(분)" : [10,0,30,15,5],
    "도착 지연(분)" : [5,0,45,20,10]
})
print(df_flights)

#항공 운항 데이터 지연된 항공편만 필터링
delayed_flights = df[(df["출발 지연(분)"] > 10) | (df["도착 지연(분)"] > 5)]
print("📌\n 지연된 항공편:")
print(delayed_flights)

#도착 지연 시간의 평균 계산
average = delayed_flights["도착 지연(분)"].mean()
print("📌\n 도착 지연 시간 평균:",average,"분")

    항공사 출발지  도착지  출발 지연(분)  도착 지연(분)
0  대한항공  서울   도쿄        10         5
1  아시아나  부산  상하이         0         0
2  제주항공  제주   서울        30        45
3   티웨이  서울   제주        15        20
4   진웨어  광주   부산         5        10
📌
 지연된 항공편:
    항공사 출발지 도착지  출발 지연(분)  도착 지연(분) 지연 카테고리  조정된 출발 지연(분)
1  대한항공  서울  런던        20        15      보통          20.0
2  대한항공  서울  LA        50        10    긴 지연          40.0
5  제주항공  제주  서울        30        45    긴 지연          24.0
6   티웨이  서울  제주        15        20      보통          15.0
7   진에어  광주  부산         5        10      보통           5.0
📌
 도착 지연 시간 평균: 20.0 분

In [35]:
# 🔹 응용 실습 2: CSV 파일을 읽고 저장하기
# 문제:
# 주어진 flights_data.csv 파일을 참고하여,
#
# 1) CSV 파일에서 데이터를 읽어 DataFrame으로 변환하세요.
# 2) 특정 열을 기준으로 정렬하세요.
# 출발 지연 시간이 긴 순서로 정렬
# 3) 특정 조건을 만족하는 데이터를 필터링하고 새로운 CSV 파일로 저장하세요.
# 특정 조건 필터링 (출발 지연 30분 이상인 항공편)

import pandas as pd

#csv 파일 읽기
df=pd.read_csv("flights_data.csv")
print("📌 데이터 로드 완료")
print(df.head())

#출발 지연 시간 긴 순서로 정렬
df_sorted = df.sort_values(by="출발 지연(분)", ascending=False)
print("📌 출발 지연 시간 기준 정렬 완료")
print(df_sorted.head())

#특정 조건 필터링(출발 지연 30분 이상인 항공편)
delayed_flights = df[df["출발 지연(분)"] >= 30]
print("\n📌 출발 지연 30분 이상 항공편 필터링 완료")
print(delayed_flights)

#필터링된 데이터를 새로운 csv 파일로 저장
delayed_flights.to_csv("flights_data2.csv", index=False)
print("\n📌 'flights_data2.csv' 파일 저장 완료")

📌 데이터 로드 완료
    항공사 출발지  도착지  출발 지연(분)  도착 지연(분)
0  대한항공  서울   도쿄        10         5
1  대한항공  서울   런던        20        15
2  대한항공  서울   LA        50        10
3  아시아나  부산  상하이         0         0
4  아시아나  부산  토론토         0         0
📌 출발 지연 시간 기준 정렬 완료
    항공사 출발지 도착지  출발 지연(분)  도착 지연(분)
2  대한항공  서울  LA        50        10
5  제주항공  제주  서울        30        45
1  대한항공  서울  런던        20        15
6   티웨이  서울  제주        15        20
0  대한항공  서울  도쿄        10         5

📌 출발 지연 30분 이상 항공편 필터링 완료
    항공사 출발지 도착지  출발 지연(분)  도착 지연(분)
2  대한항공  서울  LA        50        10
5  제주항공  제주  서울        30        45

📌 'flights_data2.csv' 파일 저장 완료

In [38]:
# 🔹 응용 실습 3: 데이터 분석 및 통계 계산
# 문제:
# 주어진 flights_data.csv 파일을 참고하여,
# CSV 파일에서 데이터를 읽어 DataFrame으로 변환하세요
#
# 1) groupby()를 사용하여 항공사별 평균 지연 시간을 계산하세요.
# 2) 상관계수를 구하여 출발 지연과 도착 지연의 관계를 분석하세요.
# 3) apply()를 활용하여 사용자 정의 함수로 지연 시간을 조정하세요.
# 3. 사용자 정의 함수 적용 (지연 시간이 30분 이상이면 '긴 지연', 아니면 '보통')

import pandas as pd

#csv 파일 읽기
df=pd.read_csv("flights_data.csv")
print("📌 데이터 로드 완료")
print(df.head())

#groupby()를 사용하여 항공사별 평균 지연 시간 계산
avg_delay = df.groupby("항공사")[["출발 지연(분)", "도착 지연(분)"]].mean()
print("📌 항공사별 평균 지연 시간:")
print(avg_delay)

#상관계수를 구하여 출발 지연과 도착 지연의 관계 분석
correlation = df[["출발 지연(분)", "도착 지연(분)"]].corr().iloc[0,1]
print("📌 출발 지연과 도착 지연 관계의 상관계수:")
print(correlation)

# 4) 사용자 정의 함수 적용 (지연 시간이 30분 이상이면 '긴 지연', 아니면 '보통')
def delay_category(delay):
    return "긴 지연" if delay >= 30 else "보통"

df["지연 카테고리"] = df["출발 지연(분)"].apply(delay_category)
print("\n📌 지연 카테고리 추가 완료:")
print(df[["항공사", "출발 지연(분)", "지연 카테고리"]].head())

# 5) apply()를 활용하여 지연 시간 조정
def adjust_delay(delay):
    adjustments = {
        delay >= 60: 0.5,  # 50% 감소
        delay >= 30: 0.8   # 20% 감소
    }
    return delay * next((factor for condition, factor in adjustments.items() if condition), 1)


df["조정된 출발 지연(분)"] = df["출발 지연(분)"].apply(adjust_delay)
print("\n📌 지연 시간 조정 완료:")
print(df[["항공사", "출발 지연(분)", "조정된 출발 지연(분)"]].head())

#결과를 새로운 csv 파일에 저장
df.to_csv("flights_data3.csv", index=False)
print("\n📌 'flights_data3.csv' 파일 저장 완료")

📌 데이터 로드 완료
    항공사 출발지  도착지  출발 지연(분)  도착 지연(분)
0  대한항공  서울   도쿄        10         5
1  대한항공  서울   런던        20        15
2  대한항공  서울   LA        50        10
3  아시아나  부산  상하이         0         0
4  아시아나  부산  토론토         0         0
📌 항공사별 평균 지연 시간:
       출발 지연(분)  도착 지연(분)
항공사
대한항공  26.666667      10.0
아시아나   0.000000       0.0
제주항공  30.000000      45.0
진에어    5.000000      10.0
티웨이   15.000000      20.0
📌 출발 지연과 도착 지연 관계의 상관계수:
0.4831391262839192

📌 지연 카테고리 추가 완료:
    항공사  출발 지연(분) 지연 카테고리
0  대한항공        10      보통
1  대한항공        20      보통
2  대한항공        50    긴 지연
3  아시아나         0      보통
4  아시아나         0      보통

📌 지연 시간 조정 완료:
    항공사  출발 지연(분)  조정된 출발 지연(분)
0  대한항공        10          10.0
1  대한항공        20          20.0
2  대한항공        50          40.0
3  아시아나         0           0.0
4  아시아나         0           0.0

📌 'flights_data3.csv' 파일 저장 완료