In [1]:
print('쥬피터 노트북 버전 으로 해보기')

쥬피터 노트북 버전 으로 해보기

In [2]:
print("작업중")

작업중

In [1]:
a=int(10.3)
print(a)
b=float(a)
print(b)

10
10.0

In [3]:
print(1==True)
print(""==False)

True
False

In [4]:
x=str(123)
print(x)
print(type(x))

123
<class 'str'>

In [6]:
lunch = "국밥"
print(f"오늘 점심 메뉴는? {lunch}")

오늘 점심 메뉴는? 국밥

In [10]:
a = [1,2,3]
b = [4,5,6]
a.append(100)
print(a)
a.extend(b)
print(a)
# print(f"c 리스트 모양: {c}")
# print(c)
# print(f"d 리스트 모양: {d}")
# print(d)

[1, 2, 3, 100]
[1, 2, 3, 100, 4, 5, 6]

In [13]:
a = [1,2,3]
a.insert(1,100)
print(a)
a.remove(2)
print(a)

[1, 100, 2, 3]
[1, 100, 3]

In [14]:
if 3>4:
    print("참")
else:
    print("거짓")

거짓

In [16]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
a=int(input("숫자를 입력하세요:"))
if a%2==0:
    print(f"{a}은(는) 짝수입니다.")
else:
    print(f"{a}은(는) 홀수입니다.")

7은(는) 홀수입니다.

In [24]:
n=int(input("n을 입력하세요:"))
for i in range(1,11,n):
    print(f"1부터 10까지의 합: {sum(range(1,11))}")

1부터 10까지의 합: 55

In [30]:
numbers1 = ["3","7","2","9","4"]
numbers2 = input().split()
int_numbers1 = list(map(int,numbers1))
int_numbers2 = list(map(int,numbers2))
print(max(int_numbers1))
print(max(int_numbers2))
print(f"최대값: {max(int_numbers1)}")
print(f"최대값: {max(int_numbers2)}")

9
9
최대값: 9
최대값: 9

In [67]:
# 사용자 입력 받기
numbers = input("공백으로 구분하여 숫자 입력: ")

# 입력된 문자열을 정수 리스트로 변환
num_list = list(map(int, numbers.split()))

# 최댓값 찾기
max_value = max(num_list)

# 결과 출력
print(f"최댓값: {max_value}")

최댓값: 9

In [40]:
a=input("문자열 입력: ")
b=input("찾을 문자 입력: ")
count=a.count(b)
print(f"문자 '{b}'는 {count}번 등장합니다.")

문자 'a'는 3번 등장합니다.

In [60]:
a=list(map(int,input("공백으로 구분하여 숫자 입력:").split()))
print(f"중복 제거 후 정렬된 리스트: {sorted(set(a))}")
# sorted_list = sorted(set(a))
# print(f"중복 제거 후 정렬된 리스트: {sorted_list}")

중복 제거 후 정렬된 리스트: [1, 3, 5, 7, 8]

In [70]:
start = int(input("시작 단 입력: "))
end = int(input("끝 단 입력: "))

for dan in range(start, end + 1):
    print(f"\n{dan}단:")
    for i in range(1, 10):
        print(f"{dan} x {i} = {dan * i}")
print()

3단:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45